 <html>
 <head>
 <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
 </head>
 <body>
 	<span class="oi oi-icon-name" title="icon name" aria-hidden="true"></span>
 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
       <span class="nav_links pull-left"><%= link_to 'WEMPOWER', static_pages_home_path, id: "logo" %></span>
       
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <span class="nav_links pull right"><%= link_to 'Donate', donations_path %></span>
            <% if user_signed_in? %>
              <span class="nav_links pull-right"><%= link_to 'Home', posts_path %></span>
              <span class="nav_links pull-right"><%= link_to 'New Post', new_post_path %></span>
              <span class="nav_links pull-right"><%= link_to 'Share Ideas', new_idea_path %></span>
              <span class="nav_links pull-right"><%= link_to 'Shared Ideas', ideas_path %></span>
              <span class="nav_links pull-right"><%= link_to 'Chat', chat_rooms_path%></span>
              <%#<span class="nav_links pull-right"><%= link_to 'Edit Settings', edit_user_registration_path %>
              <span class="nav_links pull-right"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></span>
            <% else %>
              <span class="nav_links pull-right"><%= link_to 'Sign up', new_user_registration_path %></span>
              <span class="nav_links pull-right"><%= link_to 'Log in', new_user_session_path %></span>
            <% end %>
           </ul>
        </nav>
      </div>
    </header>
</html>